<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Báo giá</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h2>BÁO GIÁ XƯỞNG</h2>

    <div class="toolbar">
        <button onclick="addRow()">+ Thêm dòng</button>
    </div>

    <div class="table-wrapper">

        <table id="quoteTable">

            <thead>
                <tr>
                    <th width="60">STT</th>
                    <th>Sản phẩm</th>
                    <th width="180">Vật liệu</th>
                    <th width="100">Đơn vị</th>
                    <th width="140">Đơn giá</th>
                    <th width="120">Số lượng</th>
                    <th width="160">Thành tiền</th>
                    <th width="60"></th>
                </tr>
            </thead>

            <tbody id="body">
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="6" class="total-label">
                        TỔNG CỘNG
                    </td>

                    <td id="total">
                        0
                    </td>

                    <td></td>
                </tr>
            </tfoot>

        </table>

    </div>

</div>

<script src="/static/app.js"></script>

</body>
</html>
