table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.suggest {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 220px;
    z-index: 999;
}

.suggest div {
    padding: 5px;
    cursor: pointer;
}

.suggest div:hover {
    background: #eee;
}