<!DOCTYPE html>
<html>
<head>
    <title>Tính khối lượng tấm thép</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

{% include 'menu.html' %}

<h2>TÍNH KHỐI LƯỢNG TẤM THÉP</h2>

<div class="box">

<form method="post">

<label>Tấm 1 mm</label>
<input name="tam1" value="{{ form.get('tam1','') }}"><br>

<label>Tấm 2 mm</label>
<input name="tam2" value="{{ form.get('tam2','') }}"><br>

<label>Tấm 3 mm</label>
<input name="tam3" value="{{ form.get('tam3','') }}"><br>

<label>Tấm 4 mm</label>
<input name="tam4" value="{{ form.get('tam4','') }}"><br>

<label>Tấm 5 mm</label>
<input name="tam5" value="{{ form.get('tam5','') }}"><br>

<label>Tấm 6 mm</label>
<input name="tam6" value="{{ form.get('tam6','') }}"><br>

<label>Tấm 8 mm</label>
<input name="tam8" value="{{ form.get('tam8','') }}"><br>
<button type="submit">
TÍNH TOÁN
</button>

</form>

</div>

{% if ket_qua is not none %}

<h3>
Tổng khối lượng: {{ ket_qua }} Kg
</h3>

{% endif %}

</body>
</html>
