<div class="box menu">

    <a href="/"
       class="{% if active_page == 'home' %}active{% endif %}">
       🏠 Trang chủ
    </a>

    <a href="/thung-than"
       class="{% if active_page == 'thung' %}active{% endif %}">
       📦 Thùng than
    </a>

    <a href="/san-thao-tac"
       class="{% if active_page == 'san' %}active{% endif %}">
       🛠 Sàn thao tác
    </a>

    <a href="/khoi-luong-tam"
       class="{% if active_page == 'tam' %}active{% endif %}">
       ⚖️ Khối lượng tấm
    </a>

    <a href="/merge-pdf"
       class="{% if active_page == 'pdf' %}active{% endif %}">
       📑 Gộp PDF
    </a>

</div>
